# Get your bot token from: https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here
NEWS_CHANNEL_ID=0
CHECK_INTERVAL_MINUTES=30
MAX_ITEMS_PER_POST=5
MAX_ITEMS_PER_COMMAND=10